<!--フラッシュメッセージ-->
<% if flash[:notice].present? %>
  <div id="flash-notice" class=" bg-green-100 border border-green-400 text-green-700 px-2 py-3 rounded relative" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>
<h1 class="mt-20 text-2xl font-bold text-gray-800 ml-4 mb-4"> #<%= @tag.name %> の検索結果一覧</h1>

<div class="px-2 grid gap-x-2 gap-y-2 sm:grid-cols-2 md:gap-x-2 lg:grid-cols-3 xl:grid-cols-4">
  <% @posts.each do |post| %>
    <div class="relative post">
      <div class="flex items-center"> 
        <% user_path = user_user_path(post.user.id) %>
        <%= link_to user_path do %>
          <%= image_tag(post.user.profile_image.presence || "no_image.jpg", class: "w-10 h-10 rounded-full m-2") %>
        <% end %>
        <span class="font-bold"><%= link_to post.user.user_name, user_user_path(post.user.id) %></span> 
      </div>
        <%= post.images.attached? ? link_to(user_post_path(post)) { image_tag(post.images.first, class: "w-full h-80 object-cover rounded-lg") } : content_tag(:p, "no_image", class: "w-full h-80 object-cover rounded-lg") %>
      <div class="flex items-center justify-between m-2">
        <div class="flex items-center">
          <% niceness_class = post.nices.exists?(user_id: current_user.id) ? "fa-solid fa-heart fa-xl text-pink-500" : "fa-regular fa-heart fa-xl" %>
          <% niceness_method = post.nices.exists?(user_id: current_user.id) ? :delete : :post %>
          <%= link_to user_post_nices_path(post), method: niceness_method, class: "nice-link" do %>
            <i class="<%= niceness_class %>"></i>
            <span class="niceness-count text-sm text-gray-500"><%= post.nices.count %></span>
          <% end %>
          <div class="flex items-center ml-4">
            <i class="fa-solid fa-comment fa-xl text-yellow-500 mr-1"></i>
            <span class="text-sm text-gray-500"><%= post.comments.count %></span>
          </div>
        </div>
        <p class="text-sm text-gray-500"><%= post.created_at.strftime("%Y/%-m/%-d %-H:%M") %></p>
      </div>
      <% truncated_body = post.body.length > 20 ? post.body[0..20] + '...' : post.body %>
      <p class="whitespace-pre-line m-2"><%= truncated_body %></p>
      <div class="tags m-2">
        <% post.tags.limit(4).each do |tag| %>
          <%= link_to "##{tag.name}", user_post_searches_path(post_id: post.id, tag_id: tag.id), class: "tag inline-block bg-gray-200 rounded-md px-3 py-1 text-sm font-semibold text-gray-700" %>
        <% end %>
        <% if post.tags.count > 4 %>
          <span class="tag inline-block bg-gray-200 rounded-md px-3 py-1 text-sm font-semibold text-gray-700">...</span>
        <% end %>
      </div>
      <%= form_with(model: [post, Comment.new], url: user_post_comments_path(post)) do |f| %>
        <div class="m-2 flex justify-end">
          <%= f.text_area :body, rows: '1', placeholder: "コメントをここに", class: "w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring focus:border-indigo-500 text-sm" %>
          <%= f.submit "送信", class: "ml-2 rounded-lg border bg-green-500 hover:bg-green-600 focus:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50 px-4 py-2 text-center text-sm font-semibold text-white transition duration-300 ease-in-out md:px-8 md:py-3 md:text-base" %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.nice-link').forEach(function(link) {
      link.addEventListener('click', function(event) {
        event.preventDefault();
        var postId = this.dataset.postId;
        var nicenessCount = this.querySelector('.niceness-count');
        
        fetch(this.href, {
          method: 'POST', 
          headers: {
            'X-CSRF-Token': '<%= form_authenticity_token %>',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ postId: postId })
        })
        .then(response => response.json())
        .then(data => {
          nicenessCount.textContent = data.nices_count;
          var heartIcon = this.querySelector('i');
          if (data.niced_by_current_user) {
            heartIcon.classList.remove('fa-regular');
            heartIcon.classList.add('fa-solid');
            heartIcon.style.color = '#f882bb';
          } else {
            heartIcon.classList.remove('fa-solid');
            heartIcon.classList.add('fa-regular');
            heartIcon.style.color = '#d9d3d6';
          }
        })
        .catch(error => console.error('Error:', error));
      });
    });
  });
  
    document.addEventListener('DOMContentLoaded', function() {
    const searchInput = document.querySelector('form input[type="text"]');
    const posts = document.querySelectorAll('.post');

    searchInput.addEventListener('keyup', function() {
      const searchTerm = searchInput.value.trim().toLowerCase();

      posts.forEach(post => {
        const postBody = post.querySelector('p').textContent.toLowerCase();
        const postTags = post.querySelectorAll('.tag');
        let tagContent = '';
        postTags.forEach(tag => {
          tagContent += tag.textContent.toLowerCase() + ' ';
        });
        const postContainer = post.closest('.post');
        if (postBody.includes(searchTerm) || tagContent.includes(searchTerm)) {
          postContainer.style.display = 'block';
        } else {
          postContainer.style.display = 'none';
        }
      });
    });
  });
  
  // フォーム内を空にする
  function clearSearchField() {
    document.querySelector("#search-field").value = "";
    location.reload();
  }
  
  // フラッシュメッセージを5秒後に非表示にする
  $(document).ready(function() {
    setTimeout(function() {
      $('#flash-notice, #flash-alert').fadeOut();
    }, 3000); 
  });
  
</script>
