<div class="mx-auto max-w-screen-2xl px-2 md:px-8 mt-16">
  <div class="mb-6 flex flex-col md:flex-row items-end justify-between gap-4">
    <div class="w-full border-gray-300">
      <ul id="messageList">
        <% @messages.group_by(&:sender_id).each do |sender_id, sender_messages| %>
          <% sender = sender_messages.first.sender %>
          <% unread_count = sender.sent_messages.where(read: false).count %>
          <% latest_message = sender_messages.last %>
          <li class="flex items-center justify-between py-4 border-b border-gray-200">
            <%= link_to user_user_message_path(user_id: sender.id, id: latest_message.id) do %>
              <div class="flex items-center">
                <% if sender.profile_image.present? %>
                  <%= image_tag sender.profile_image, class: "h-10 w-10 rounded-full flex items-center justify-center mr-4" %>
                <% else %>
                  <%= image_tag "no_image.jpg", class: "w-10 h-10 rounded-full flex items-center justify-center mr-4" %>
                <% end %>
                <div>
                  <h3 class="font-semibold">
                    <%= sender.user_name %>
                  </h3>
                  <p class="text-gray-500"><%= latest_message.content %></p>
                </div>
              </div>
            <% end %>
            <% if unread_count > 0 %>
              <span class="text-red-500">
                <span class="inline-block h-8 w-8 bg-green-500 text-white rounded-full flex items-center justify-center">
                  <%= unread_count %>
                </span>
              </span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>