  <div class="mt-20 mx-auto max-w-lg rounded-lg flex flex-col gap-4 p-4 md:p-8">
    <h2 class="text-center text-2xl font-bold text-gray-800 md:mb-8 lg:text-3xl">ログイン</h2>
    
    <!--フラッシュメッセージ-->
    <%= render 'user/shared/flash_message' %>
    
    <!--ログインフォーム-->
    <%= form_with model: @user, url: user_session_path do |f| %>
    <div>
      <%= f.label :email, class: "my-2 inline-block text-sm text-gray-800 sm:text-base" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" %>
    </div>
    <div>
      <%= f.label :password, class: "my-2 inline-block text-sm text-gray-800 sm:text-base" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" %>
    </div>
    <div>
      <%= f.submit 'ログイン', class: "w-full my-2 block rounded-lg bg-blue-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-gray-300 transition duration-100 hover:bg-blue-600 focus-visible:ring active:bg-blue-700 md:text-base" %>
      <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: "block rounded-lg bg-gray-800 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-gray-300 transition duration-100 hover:bg-gray-700 focus-visible:ring active:bg-gray-600 md:text-base" %>
    </div>
    <div>
      <p class="my-2 flex items-center justify-center bg-gray-100 rounded-lg p-4 text-center text-sm text-gray-500">アカウントをお持ちでない方はこちら <%= link_to "新規登録", new_user_registration_path, class: "pl-2 text-indigo-500 transition duration-100 hover:text-indigo-600 active:text-indigo-700" %>
    </div>
    <% end %>
    
    <!--SNSログイン-->
    <div class="relative flex items-center justify-center">
      <span class="absolute inset-x-0 h-px bg-gray-300"></span>
      <span class="relative bg-white px-4 text-sm text-gray-400">SNSでログインする（ダミー）</span>
    </div>
    <button class="flex items-center justify-center gap-2 rounded-lg border border-gray-30 bg-white px-8 py-3 text-center text-sm font-semibold text-blue-500 outline-none ring-blue-300 transition duration-100 hover:bg-blue-100 focus-visible:ring active:bg-blue-200 md:text-base">
      <svg class="h-5 w-5 shrink-0" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 0C5.37273 0 0 5.37273 0 12C0 18.0164 4.43182 22.9838 10.2065 23.8516V15.1805H7.23764V12.0262H10.2065V9.92727C10.2065 6.45218 11.8996 4.92655 14.7878 4.92655C16.1711 4.92655 16.9025 5.02909 17.2489 5.076V7.82945H15.2787C14.0525 7.82945 13.6244 8.99182 13.6244 10.302V12.0262H17.2178L16.7302 15.1805H13.6244V23.8773C19.4815 23.0825 24 18.0747 24 12C24 5.37273 18.6273 0 12 0Z" fill="blue" />
      </svg>
      Facebook でログイン
    </button>
    
  </div>