<h1 class="text-2xl font-bold text-gray-800 ml-4">フォロー</h1>
    <div class="py-6 sm:py-8 lg:py-12">
      <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
          <% @users.each do |user| %>
          <ul role="list" class="divide-y divide-gray-100">
          <li class="flex justify-between gap-x-6 py-5">
            <div class="flex min-w-0 gap-x-4">
              <% if user.profile_image.present? %>
                <%= link_to user_users_path do %>
                  <%= image_tag user.profile_image, class: "h-12 w-12 flex-none rounded-full bg-gray-50" %>
                <% end %>
              <% else %>
                <%= link_to user_users_path do %>
                  <%= image_tag "no_image.jpg", class: "h-12 w-12 flex-none rounded-full bg-gray-50" %>
                <% end %>
              <% end %>
              <div class="min-w-0 flex-auto">
                <p class="text-sm font-semibold leading-6 text-gray-900"><%= user.user_name %></p>
                <p class="mt-1 truncate text-xs leading-5 text-gray-500"><%= user.email %></p>
              </div>
            </div>
            <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
              <% if current_user && current_user != @user %>
                <% if current_user.following?(@user) %>
                  <%= link_to "フォロー外す", user_user_follow_path(@user), method: :delete, class: "bg-slate-100 hover:bg-neutral-400 text-bg font-bold py-2 px-4 rounded mr-2" %>
                <% else %>
                  <%= link_to "フォローする", user_user_follow_path(@user), method: :post, class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mr-2" %>
                <% end %>
              <% end %>
              <div class="mt-1 flex items-center gap-x-1.5">
                <div class="flex-none rounded-full bg-emerald-500/20 p-1">
                  <div class="h-1.5 w-1.5 rounded-full bg-emerald-500"></div>
                </div>
                <p class="text-xs leading-5 text-gray-500">Online</p>
              </div>
            </div>
          </li>
        </ul>
        <% end %>
      </div>
    </div>

