<div class="flex items-center mt-20 m-2">
  <%= render 'user/shared/return'%>
  <h1 class="text-2xl font-bold text-gray-800">プロフィール編集</h1>
</div>
<%= render 'user/shared/error_message' %>
<div class="flex justify-center mb-16">
  <%= form_with model: @user, url: user_user_path, method: :patch do |f| %>
      <div class="grid gap-x-2 gap-y-4">
          <%= f.label :profile_image, "プロフィール画像とユーザーネーム", class:"inline-block" %>              
        <div class="flex items-center gap-x-4">
          <% if @user_current.profile_image.present? %>
            <%= link_to edit_user_user_path(@user) do %>
              <%= image_tag @user_current.profile_image, class: "w-16 h-16 object-cover rounded-full", onclick: "document.getElementById('profile-image-input').click();" %>
            <% end %>
          <% else %>
            <label for="profile-image-input" class="cursor-pointer">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="h-16 w-16 text-gray-300">
                <path fill="#b7b7b8" d="M399 384.2C376.9 345.8 335.4 320 288 320H224c-47.4 0-88.9 25.8-111 64.2c35.2 39.2 86.2 63.8 143 63.8s107.8-24.7 143-63.8zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm256 16a72 72 0 1 0 0-144 72 72 0 1 0 0 144z"/>
              </svg>
            </label>
          <% end %>
          <%= f.file_field :profile_image, id: "profile-image-input", style: "display: none;"%>
          <div class="flex rounded-md shadow-sm focus-within:ring-inset focus-within:ring-indigo-600">
            <%= f.text_field :user_name, autofocus: true, class: "w-full rounded-md border-0 px-2 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"%>
        </div>
        </div>
        <div class="col-span-full">
          <%= f.label :introduction, "自己紹介", class:"inline-block" %>              
          <div class="mt-2">
            <%= f.text_area :introduction, autofocus: true, rows: "3", class: "w-full rounded-md border-0 px-2 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"%>
          </div>
        </div>
        <div class="col-span-full">
          <%= f.label :birthday, "生年月日",class:"inline-block" %>              
          <div class="mt-2 flex items-center">
            <%= f.date_select :birthday, { prompt: { year: '年', month: '月', day: '日'}, start_year: 1930, end_year: Date.current.year, order: [:year, :month, :day] }, class: "w-full rounded-md border-0 px-2 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6 mr-4" %>
          </div>
        </div>
        <div class="col-span-full">
          <div class="mx-auto space-y-3">
            <%= f.label :sex, "性別", class: "inline-block" %>              
            <div class="flex items-center space-x-2">
              <%= f.label :man, "男性", class: "inline-block" %>              
              <%= f.radio_button :sex, :man, checked: true, class: "h-4 w-4 rounded-full border-gray-300 text-primary-600 shadow-sm focus:border-primary-300 focus:ring focus:ring-primary-200 focus:ring-opacity-50 focus:ring-offset-0 disabled:cursor-not-allowed disabled:text-gray-400" %>
              <%= f.label :woman, "女性", class: "inline-block" %>              
              <%= f.radio_button :sex, :woman, class: "h-4 w-4 rounded-full border-gray-300 text-primary-600 shadow-sm focus:border-primary-300 focus:ring focus:ring-primary-200 focus:ring-opacity-50 focus:ring-offset-0 disabled:cursor-not-allowed disabled:text-gray-400" %>              
            </div>
          </div>
        </div>
        <div class="col-span-full">
          <%= f.label :postal_code, "郵便番号", class: "mr-2" %>
          <div class="mt-2 flex items-center">
            <%= f.text_field :postal_code, class: "w-40 rounded-md border-0 px-2 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6", id: "postal_code_field" %>
            <button type="button" id="search_button" class="rounded-md bg-blue-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 ml-2">検索</button>
          </div>
        </div>
        <div class="col-span-full">
          <%= f.label :prefecture, "都道府県", class: "mr-2" %>
          <div class="mt-2 flex items-center">
          <%= f.text_field :prefecture, class: "w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6", id: "prefecture_field" %>
          </div>
        </div>
        <div class="col-span-full">
          <%= f.label :city, "市町村", class: "mr-2" %>
          <div class="mt-2 flex items-center">
          <%= f.text_field :city, class: "w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6", id: "city_field" %>
          </div>
        </div>
        <div class="col-span-full">
          <%= f.label :apartment, "マンション名・号室", class: "mr-2" %>
          <%= f.text_field :apartment, class: "w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6" %>
        </div>
        <div class="col-span-full">
          <%= f.label :email, "メールアドレス",class:"inline-block" %>              
          <div class="mt-2">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class:"block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6", required: true %>
          </div>
        </div>
      <div class="flex items-center justify-end gap-x-6">
        <%= link_to "戻る", user_homes_mypage_path(current_user), class:"text-sm font-semibold leading-6 text-gray-900" %>
        <%= f.submit "保存", class:"rounded-md bg-green-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
      </div>
      <div class="border-t border-gray-300 pt-2">
        <div class="flex items-center justify-end">
          <p>退会を希望される方はこちら</p>
          <%= link_to "退会", user_user_path, method: :delete, class: "delete-user rounded-md bg-red-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-700 ml-2", data: { confirm: "本当に削除しますか？" } %>
        </div>
      </div>
      </div>
  <% end %>
</div>


<%= javascript_pack_tag 'api_zip_address' %>  

<script>
// 退会ボタンクリック後のアラート
document.addEventListener("DOMContentLoaded", function() {
  document.querySelectorAll('.delete-user').forEach(function(element) {
    element.addEventListener('click', function(event) {
      var result = confirm(element.getAttribute('data-confirm'));
      if (!result) {
        event.preventDefault();
      }
    });
  });
});
</script>