<h1 class="text-2xl font-bold text-gray-800 mb-4 ml-4">お気に入り一覧</h1>
<div class="flex items-center flex-col md:flex-row mb-8">
  <div class="mb-4 md:mb-0 md:mr-4">
    <% if @user.profile_image.present? %>
      <%= image_tag @user.profile_image, class: "w-24 h-24 rounded-full" %>
    <% else %>
      <%= image_tag "no_image.jpg", class: "w-24 h-24 rounded-full" %>
    <% end %>
  </div>
  <div class="w-full md:w-3/4 flex flex-col md:flex-row justify-between items-center">
    <h2 class="text-2xl font-semibold mb-2 md:mb-0">
      <%= link_to @user.user_name, user_posts_path(@user) %>
    </h2>
      <div class="flex flex-wrap justify-center mt-2">
        <span class="mr-4">
          <% followers_count = @user.followers.count %>
          <% if followers_count > 10000 %>
            <% ten_thousands = followers_count / 10000 %>
            <%= link_to "フォロワー : #{ten_thousands} 万人", user_user_followers_path(@user) %>
          <% else %>
            <%= link_to "フォロワー : #{number_with_delimiter(followers_count)} 人", user_user_followers_path(@user) %>
          <% end %>
        </span>
        <span class="mr-4">
          <% followings_count = @user.followings.count %>
          <% if followings_count > 10000 %>
            <% ten_thousands = followings_count / 10000 %>
            <%= link_to "フォロー中 : #{ten_thousands} 万人", user_user_followings_path(@user) %>
          <% else %>
            <%= link_to "フォロー中 : #{number_with_delimiter(followings_count)} 人", user_user_followings_path(@user) %>
          <% end %>
        </span>
      </div>
    </div>
  </div>
<div class="flex h-full justify-center items-center">
  <div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
      <div class="grid gap-x-4 gap-y-8 sm:grid-cols-2 md:gap-x-6 lg:grid-cols-3 xl:grid-cols-4">
        <% @posts.each do |post| %>
          <div class="h-full w-full relative mb-2 block overflow-hidden rounded-lg lg:mb-3">
            <div class="relative mb-2 post">
              <div class="flex items-center justify-between"> 
                <% if post.user.profile_image.attached? %>
                  <%= link_to user_user_path(post.user.id) do %>
                    <%= image_tag post.user.profile_image, class: "w-10 h-10 rounded-full mr-2 mb-2 ml-2" %>
                  <% end %>
                <% else %>
                  <%= link_to user_user_path(post.user.id) do %>
                    <%= image_tag "no_image.jpg", class: "w-10 h-10 rounded-full mr-2 mb-2 ml-2" %>
                  <% end %>
                <% end %>
                <span class="font-bold mr-2"><%= link_to post.user.user_name, user_user_path(post.user.id) %></span> 
                <div> 
                  <% if post.nices.exists?(user_id: current_user.id) %>
                    <%= link_to user_post_nices_path(post), method: :delete, class: "nice-link" do %>
                      <i class="fa-solid fa-heart fa-xl ml-2" style="color: #f882bb;"></i>
                    <% end %>
                  <% else %>
                    <%= link_to user_post_nices_path(post), method: :post, class: "nice-link" do %>
                      <i class="fa-regular fa-heart fa-xl ml-2" style="color: #d9d3d6;"></i>              
                    <% end %>
                  <% end %>
                </div> 
              </div> 
              <div class="slick-carousel text-center">
                <% if post.images.attached? %>
                  <%= link_to user_post_path(post) do %>
                    <%= image_tag post.images.first, class: "w-full h-80 object-cover rounded-lg" %>
                  <% end %>
                <% else %>
                  <p class="w-full h-80 object-cover rounded-lg">no_image</p>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    $('.slick-carousel').slick({
      dots: true,
      infinite: true,
      speed: 300,
      slidesToShow: 1,
      slidesToScroll: 1
    });
  });
</script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
