<h1 class="text-2xl font-bold text-gray-800 mb-4 ml-4 mt-20">新規投稿</h1>

<%= render 'user/shared/error_messages',resource: @post %>

<%= form_with model: @post, url: user_post_path, method: :patch, multipart: true do |f| %>
  <div class="px-2 flex justify-center"> 
    <div class="sm:max-w-md w-full"> 
    　<!--投稿編集-->
      <div class="mt-2 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        
        <!--投稿画像-->
        <div class="col-span-full">
          <%= f.label :写真, class: "mb-2 inline-block text-medium text-gray-800 sm:text-base" %>
          <% if @selected_images.any? %>
            <div id="selected-images" class="col-span-full grid grid-cols-3 gap-4">
              <% @selected_images.each do |image| %>
                <div>
                  <%= image_tag(image, class: "w-full h-40 rounded-lg cover") %>
                </div>
              <% end %>
            </div>
          <% end %>
          <div class="mt-2 flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-10">
            <div class="text-center">
              <label for="image-upload" class="cursor-pointer">
                <svg class="mx-auto h-12 w-12 text-gray-300" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z" clip-rule="evenodd" />
                </svg>
                <div class="flex text-sm leading-6 text-gray-600">
                  <span id="image-upload-label">ファイルを選択（最大6枚まで）</span>
                  <%= f.file_field :images, multiple: true, accept: "image/*", class: "hidden", id: "image-upload" %>
                </div>
              </label>
            </div>
          </div>
        </div>
        
        <!--本文-->
        <div class="col-span-full mt-2">
          <%= f.label :本文, class: "mb-2 inline-block text-medium text-gray-800 sm:text-base" %>
          <%= f.text_area :body, placeholder: "本文を入力してください", class: "w-full rounded border bg-gray-50 px-2 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring focus:ring-offset-2 focus:ring-blue-600 focus:ring-offset-gray-100" %> <!-- 本文の高さを調整 -->
        </div>
        
        <!--タグ-->
        <div class="sm:col-span-full mt-2">
          <%= f.label :タグ（複数選択可）, class: "mb-2 inline-block text-medium text-gray-800 sm:text-base" %>
          <%= f.select :tag_ids, Tag.all.map { |tag| [tag.name, tag.id] }, {}, { class: "w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring focus:ring-offset-2 focus:ring-blue-600 focus:ring-offset-gray-100", multiple: true } %>
        </div>
        
      </div>
      
      <!--更新ボタン-->
      <div class="mt-2 flex items-center justify-end gap-x-6">
        <%= link_to "取り消し", user_post_path(@post), class: "text-sm font-semibold leading-6 text-gray-900" %> 
        <%= f.submit '投稿', class: "rounded-md bg-green-500 px-6 py-3 text-sm font-semibold text-white shadow-sm hover:bg-green-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 py-3" %>
      </div>
      
    </div>
  </div>
<% end %>

<script>
  //最大6枚までの画像を処理するための記述
  document.getElementById('image-upload').addEventListener('change', function(e) {
    const files = e.target.files; 
    const selectedImagesContainer = document.getElementById('selected-images');
    const uploadLabel = document.getElementById('image-upload-label');

    const maxImages = 6;
    const remainingImages = maxImages - selectedImagesContainer.children.length;
    if (files.length > remainingImages) {
      alert(`最大で${maxImages}枚までしか選択できません。`);
      return;
    }

    for (let i = 0; i < files.length; i++) {
      const file = files[i];
      const reader = new FileReader();

      reader.onload = function(e) {
        const imageDiv = document.createElement('div'); 
        imageDiv.style.backgroundImage = `url('${e.target.result}')`;
        imageDiv.style.backgroundSize = 'cover';
        imageDiv.style.backgroundPosition = 'center';
        imageDiv.classList.add('w-full', 'h-40', 'bg-gray-200', 'rounded-lg');
        selectedImagesContainer.appendChild(imageDiv);
      }

      reader.readAsDataURL(file);
    }
  });
</script>
