<div class="flex h-100%">
  <main class="min-w-0 flex-1 overflow-auto bg-blue-50">
    <div class="bg-white py-6 sm:py-8 lg:py-12">
      <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
        <div class="mb-6 flex items-end justify-between gap-4">
          <%= link_to '新規投稿', new_user_post_path, class:"inline-block rounded-lg border bg-white px-4 py-2 text-center text-sm font-semibold text-gray-500 outline-none ring-indigo-300 transition duration-100 hover:bg-gray-100 focus-visible:ring active:bg-gray-200 md:px-8 md:py-3 md:text-base" %>
        </div>
        <div class="grid gap-x-4 gap-y-8 sm:grid-cols-2 md:gap-x-6 lg:grid-cols-3 xl:grid-cols-4">
          <% @posts.each do |post| %>
            <div class="h-full w-full object-cover object-center transition duration-200 group-hover:scale-110 group relative mb-2 block h-80 overflow-hidden rounded-lg bg-gray-100 lg:mb-3">
              <%= link_to image_tag(post.image), user_post_path(post) %>
              <div class="flex items-end gap-2">
                  <% if post.niced_by?(current_user) %>
                    <p>
                      <%= link_to user_post_nices_path(post.user, post), method: :delete do %>
                        ♥<%= post.nices.count %> いいね
                      <% end %>
                    </p>
                  <% else %>
                    <p>
                      <%= link_to user_post_nices_path(post.user, post), method: :post do %>
                        ♡<%= post.nices.count %> いいね
                      <% end %>
                    </p>
                  <% end %>
                <%= post.body %>
                <% post.taggings.each do |one_tag| %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </main>
</div>