<div class="mx-auto max-w-screen-2xl px-4 md:px-8">
  <div class="mb-6 flex flex-col md:flex-row items-end justify-between gap-4">
    <%= link_to '新規投稿', new_user_post_path, class:"inline-block w-full md:w-auto rounded-lg border bg-green-500 hover:bg-green-600 focus:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50 px-4 py-2 text-center text-sm font-semibold text-white transition duration-300 ease-in-out md:px-8 md:py-3 md:text-base" %>
    <%= form_with(url: user_posts_path, method: "get", class: "flex w-full md:w-auto") do |form| %>
      <%= form.text_field :search, class: "rounded-lg border px-4 py-2 text-sm text-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent w-full md:w-auto", placeholder: "検索" %>
    <% end %>
  </div>
  <div class="grid gap-x-4 gap-y-8 sm:grid-cols-2 md:gap-x-6 lg:grid-cols-3 xl:grid-cols-4">
    <% @posts.each do |post| %>
      <div class="relative mb-2 post">
        <div class="flex items-center"> 
          <% if post.user.profile_image.present? %>
            <%= link_to user_user_path(post.user.id) do %>
              <%= image_tag post.user.profile_image, class: "w-10 h-10 rounded-full mr-2 mb-2 ml-2" %>
            <% end %>
          <% else %>
            <%= link_to user_user_path(post.user.id) do %>
              <%= image_tag "no_image.jpg", class: "w-10 h-10 rounded-full mr-2 mb-2 ml-2" %>
            <% end %>
          <% end %>
          <span class="font-bold"><%= link_to post.user.user_name, user_user_path(post.user.id) %></span> 
        </div>
        <% if post.images.attached? %>
          <%= link_to user_post_path(post) do %>
            <%= image_tag post.images.first, class: "w-full h-80 object-cover rounded-lg" %>
          <% end %>
        <% else %>
          <p class="w-full h-80 object-cover rounded-lg">no_image</p>
        <% end %>
        <div class="flex items-center justify-between mt-2">
          <div class="flex items-center">
            <% if post.nices.exists?(user_id: current_user.id) %>
              <%= link_to user_post_nices_path(post), method: :delete, class: "nice-link" do %>
                <i class="fa-solid fa-heart fa-xl text-pink-500 mr-1"></i>
                <span class="text-sm text-gray-500"><%= post.nices.count %></span> 
              <% end %>
            <% else %>
              <%= link_to user_post_nices_path(post), method: :post, class: "nice-link" do %>
                <i class="fa-regular fa-heart fa-xl" style="color: #777777;"></i>              
                <span class="text-sm text-gray-500"><%= post.nices.count %></span>
              <% end %>
            <% end %>
            <div class="flex items-center ml-4">
              <i class="fa-solid fa-comment fa-xl text-yellow-500 mr-1"></i>
              <span class="text-sm text-gray-500"><%= post.comments.count %></span>
            </div>
          </div>
      <p class="text-sm text-gray-500"><%= post.created_at.strftime("%Y/%-m/%-d %-H:%M") %></p>
    </div>
        <% truncated_body = post.body.length > 20 ? post.body[0..20] + '...' : post.body %>
        <p class="whitespace-pre-line"><%= truncated_body %></p>
        <div class="tags">
          <% post.tags.each do |tag| %>
            <span class="tag inline-block bg-gray-200 rounded-md px-3 py-1 text-sm font-semibold text-gray-700">#<%= tag.name %></span>
          <% end %>
        </div>
        <%= form_with(model: [post, Comment.new], url: user_post_comments_path(post)) do |f| %>
          <div class="mt-2 flex justify-end">
            <%= f.text_area :body, rows: '1', placeholder: "コメントをここに", class: "w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring focus:border-indigo-500 text-sm" %>
            <%= f.submit "送信", class: "ml-2 rounded-lg border bg-green-500 hover:bg-green-600 focus:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50 px-4 py-2 text-center text-sm font-semibold text-white transition duration-300 ease-in-out md:px-8 md:py-3 md:text-base" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.nice-link').forEach(function(link) {
      link.addEventListener('click', function(event) {
        event.preventDefault();
        var postId = this.dataset.postId;
        var nicenessCount = this.querySelector('.niceness-count');
        
        fetch(this.href, {
          method: 'POST', // or 'DELETE' if unliking
          headers: {
            'X-CSRF-Token': '<%= form_authenticity_token %>',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ postId: postId })
        })
        .then(response => response.json())
        .then(data => {
          // Update niceness count
          nicenessCount.textContent = data.nices_count;
          // Toggle heart icon
          var heartIcon = this.querySelector('i');
          if (data.niced_by_current_user) {
            heartIcon.classList.remove('fa-regular');
            heartIcon.classList.add('fa-solid');
            heartIcon.style.color = '#f882bb';
          } else {
            heartIcon.classList.remove('fa-solid');
            heartIcon.classList.add('fa-regular');
            heartIcon.style.color = '#d9d3d6';
          }
        })
        .catch(error => console.error('Error:', error));
      });
    });
  });
  
    document.addEventListener('DOMContentLoaded', function() {
    const searchInput = document.querySelector('form input[type="text"]');
    const posts = document.querySelectorAll('.post');

    searchInput.addEventListener('keyup', function() {
      const searchTerm = searchInput.value.trim().toLowerCase();

      posts.forEach(post => {
        const postBody = post.querySelector('p').textContent.toLowerCase();
        const postTags = post.querySelectorAll('.tag');
        let tagContent = '';
        postTags.forEach(tag => {
          tagContent += tag.textContent.toLowerCase() + ' ';
        });
        const postContainer = post.closest('.post');
        if (postBody.includes(searchTerm) || tagContent.includes(searchTerm)) {
          postContainer.style.display = 'block';
        } else {
          postContainer.style.display = 'none';
        }
      });
    });
  });
</script>
