<div class="flex mt-20 items-center">
  <a href="<%= user_posts_path %>" class="mr-4 ml-2">
    <i class="fa-solid fa-chevron-left" style="color: #000000;"></i>      
  </a>
  <h1 class="text-2xl font-bold text-gray-800">投稿詳細</h1>
</div>

<div class="flex items-center justify-start md:space-x-4 mx-2 my-2">
  <% user_path = current_user && current_user.id == @post.user.id ? user_homes_mypage_path : user_user_path(@post.user.id) %>
  <%= link_to user_path do %>
    <%= image_tag(@post.user.profile_image.presence || "no_image.jpg", class: "w-10 h-10 rounded-full md:m-2") %>
  <% end %>
  <span class="text-center md:text-left ml-2"><%= @post.user.user_name %></span>
  <div class="flex items-center ml-auto">
    <% if current_user && current_user != @user %>
      <% if current_user.following?(@user) %>
        <%= link_to "フォロー解除", user_user_follow_path(@user), method: :delete, class: "bg-slate-100 hover:bg-neutral-400 text-bg font-bold py-2 px-4 rounded" %>
      <% else %>
        <%= link_to "フォロー", user_user_follow_path(@user), method: :post, class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="h-full w-full relative mb-2 mt-2 block overflow-hidden rounded-lg lg:mb-3">
  <div class="slick-carousel">
    <% @post.images.each do |image| %>
      <%= image_tag(image, class: "w-full h-full object-cover") %>
    <% end %>
  </div>

  <div class="flex items-center justify-between px-4 py-2">
    <div class="flex items-center">
      <% if @post.nices.exists?(user_id: current_user.id) %>
        <%= link_to user_post_nices_path(@post), method: :delete, class: "nice-link" do %>
          <i class="fa-solid fa-heart fa-lg text-pink-500 mr-1"></i>
          <span class="text-sm text-gray-500"><%= @post.nices.count %></span> 
        <% end %>
      <% else %>
        <%= link_to user_post_nices_path(@post), method: :post, class: "nice-link" do %>
          <i class="fa-regular fa-heart fa-lg" style="color: #777777;"></i>              
          <span class="text-sm text-gray-500"><%= @post.nices.count %></span>
        <% end %>
      <% end %>
      <div class="flex items-center ml-4">
        <i class="fa-solid fa-comment fa-lg text-yellow-500 mr-1"></i>
        <span class="text-sm text-gray-500"><%= @post.comments.count %></span>
      </div>
    </div>
      <p class="text-sm text-gray-500 ml-auto"><%= @post.created_at.strftime("%Y/%-m/%-d %-H:%M") %></p>
  </div>
  <div class="flex items-center justify-between px-2">
    <div class="tags m-2">
      <% @post.tags.limit(4).each do |tag| %>
        <%= link_to "##{tag.name}", user_post_searches_path(post_id: @post.id, tag_id: tag.id), class: "tag inline-block bg-gray-200 rounded-md px-3 py-1 text-sm font-semibold text-gray-700" %>
      <% end %>
      <% if @post.tags.count > 4 %>
        <span class="tag inline-block bg-gray-200 rounded-md px-3 py-1 text-sm font-semibold text-gray-700">...</span>
      <% end %>
    </div>
    <div class="flex items-center">
      <% if user_signed_in? && current_user.id == @post.user_id %>
        <%= link_to edit_user_post_path(@post), class: "ml-auto" do %>
          <i class="fa-solid fa-pen-to-square text-gray-500"></i>
        <% end %>
        <%= link_to user_post_path(@post), method: :delete, class: "ml-4", data: { confirm: "本当に削除しますか？" } do %>
          <i class="fa-solid fa-trash-can text-gray-500"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<p class="px-4 py-2"><%= @post.body %></p>

<div class="mt-4 px-4">
  <h1 class="text-xl font-semibold">コメント欄（コメント件数：<%= @post.comments.count %>）</h1>
  <% @post.comments.each do |comment| %>
    <div class="flex items-center mb-2">
      <% if comment.user.profile_image.present? %>
        <%= image_tag comment.user.profile_image, class: "w-10 h-10 rounded-full mr-2" %>
      <% else %>
        <%= image_tag "no_image.jpg", class: "w-10 h-10 rounded-full mr-2" %>
      <% end %>
      <div>
        <p class="font-semibold"><%= comment.user.user_name %></p>
        <p><%= comment.body %></p>
        <p class="text-gray-500"><%= comment.created_at.strftime('%Y/%m/%d') %></p>
      </div>
    </div>
  <% end %>
</div>

<!-- JS -->
<script src="//code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script>
    $(document).ready(function(){
        $('.slick-carousel').slick({
            dots: true,
            infinite: true,
            speed: 300,
            slidesToShow: 1,
            slidesToScroll: 1
        });
    });
</script>
