<div class="flex h-100%">
  <main class="min-w-0 flex-1 overflow-auto bg-blue-50">
    <div class="bg-white py-6 sm:py-8 lg:py-12">
      <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
        <div class="grid gap-x-4 gap-y-8 sm:grid-cols-2 md:gap-x-6 lg:grid-cols-3 xl:grid-cols-4">
          <div class="h-full w-full object-cover object-center transition duration-200 group-hover:scale-110 group relative mb-2 block h-80 overflow-hidden rounded-lg lg:mb-3">
            <%= image_tag(@post.image) %>
            <div class="flex items-end gap-2">
              <%= @post.created_at.strftime("%Y/%-m/%-d")%></br>
              <%= @post.body %>
            </div>
            <p>コメント件数：<%= @post.comments.count %></p>
          <div class="mt-10">
            <h1>コメント欄</h1>
            <% @post.comments.each do |comment| %>
              <div class="flex items-center mb-2">
                <% if comment.user.profile_image.present? %>
                  <%= image_tag comment.user.profile_image, class: "w-10 h-10 rounded-full mr-2" %>
                <% else %>
                  <%= image_tag "no_image.jpg", class: "w-10 h-10 rounded-full mr-2" %>
                <% end %>
                <div>
                  <%= comment.user.user_name %>
                  <p><%= comment.body %></p>
                  <p><%= comment.created_at.strftime('%Y/%m/%d') %></p>
                </div>
              </div>
            <% end %>
          </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>