<div class="items-center mt-20 m-2">
  <h1 class="text-2xl font-bold text-gray-800 mb-4">ユーザー一覧</h1>
  <div class="py-2">
    <%= render 'user/shared/flash_message' %>
  </div>
  <table class="table-auto w-full text-sm">
    <thead>
      <tr class="bg-gray-200">
        <th class="px-4 py-2"></th>
        <th class="px-4 py-2">ユーザーネーム</th>
        <th class="px-4 py-2">メールアドレス</th>
        <th class="px-4 py-2">生年月日</th>
        <th class="px-4 py-2">性別</th>
        <th class="px-4 py-2">郵便番号</th>
        <th class="px-4 py-2">都道府県</th>
        <th class="px-4 py-2">市町村</th>
        <th class="px-4 py-2">マンション名等</th>
        <th class="px-4 py-2">会員状況</th>
        <th class="px-4 py-2">登録日</th>
      </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr class="border-b border-gray-200">
        <td class="px-2 py-2"><%= link_to "退会", admin_user_path(user.id), method: :delete, class: "delete-user rounded-md bg-red-500 px-2 py-1 text-xs font-semibold text-white shadow-sm hover:bg-red-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-700", data: { confirm: "本当に削除しますか？" } %></td>
        <td class="px-4 py-2"><%= user.user_name %></td>
        <td class="px-4 py-2"><%= user.email %></td>
        <td class="px-4 py-2"><%= user.birthday %></td>
        <td class="px-4 py-2"><%= user.sex == 'man' ? '男性' : (user.sex == 'woman' ? '女性' : '') %></td>
        <td class="px-4 py-2"><%= user.postal_code %></td>
        <td class="px-4 py-2"><%= user.prefecture %></td>
        <td class="px-4 py-2"><%= user.city %></td>
        <td class="px-4 py-2"><%= user.apartment %></td>
        <td class="px-4 py-2"><%= user.user_status ? '登録中' : '退会' %></td>
        <td class="px-4 py-2"><%= user.created_at.strftime("%Y-%m-%d") %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<%= paginate @users %>
